* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  position: relative;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.auth-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}